button,
a,
p,
ul,
li {
    font-family: "Josefin Sans", serif;
}

.header {
    padding: 27px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-wrapper,
.nav {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.nav-item a,
.nav-item-link {
    text-decoration: none;
    color: #172430;
    font-weight: 500;
    font-size: 18px;
}

.ml-20 {
    margin-left: 20px;
}

.nav-icons {
    font-size: 20px;
    color: #172430;
}

.hero {
    background-color: rgb(235 235 235);
    height: 125VH;
    display: flex;
    justify-content: space-between;
    padding: 150px 250px;
}

.hero .left {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.hero .right {
    display: flex;
    flex-direction: column;
    flex: 1; 
    align-items: end;
}

.hero .promo-text {
    font-size: 30px;
    color: #e13939;
}

.hero .title {
    color: #172430;
    font-size: 70px;
    font-weight: 700;
    margin-top: 20px;
    line-height: 90px;
}

.hero .description {
    color: #3c474e;
    font-size: 24px;
}

.hero .btn {
    background-color: transparent;
    border: 1px solid #172430e9;
    color: #172430;
    font-size: 18px;
    font-weight: 500;
    margin-top: 24px;
    padding: 17px 25px;
    width: 189px;
}

.hero .btn:hover {
    background-color: #172430;
    color: #fff;
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}